<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div class="container">
    <form action="#" th:action="@{/registration(event_id=${registration.event.id})}" th:object="${registration}" method="post">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputFirstname">Имя</label>
                <input type="firstname" class="form-control" id="inputFirstname" th:value="${user.firstName}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputLastname">Фамилия</label>
                <input type="lastname" class="form-control" id="inputLastname" th:value="${user.lastName}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com" th:value="${user.email}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputPhone">Телефон</label>
                <input type="phone" class="form-control" id="inputPhone" placeholder="+79999999" th:value="${user.phone}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary ">Зарегистрироваться</button>
    </form>
</div>
</body>
</html>