<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <header th:insert="header.html :: header"> </header>

    <h1>Забеги, велогонки и другие спортивные соревнования в Росии и мире</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="getAll()">Все</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="getOpenByKind('RUNNING')">Бег</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="getOpenByKind('SWIMMING')">Плавание</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="getOpenByKind('BIKE')">Велогонка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="getOpenByKind('SKIING')">Лыжи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="getOpenByKind('TRIATHLON')">Триатлон</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="col-md-12 container" id="container"></div>
</div>
<script type="text/javascript" th:src="@{/js/events.js}"></script>
</body>
</html>