<header>
    <div class="row">
        <div class="col-md-6">
            <p class="ml-auto navbar-text actions custom-actions">
                <a class="text-body" href="/">Main page</a>
                <a sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/swagger-ui.html#}" href="">Swagger UI</a>
                <a sec:authorize="hasAuthority('ROLE_ADMIN')" class="text-body" href="/event-list">События</a>
            </p>
        </div>
        <div class="text-right col-md-6">
            <p class="ml-auto navbar-text actions custom-actions">
                <a class="text-body" href="/login" sec:authorize="hasRole('ROLE_ANONYMOUS')">Войти</a>
                <a class="text-body" href="/profile" sec:authorize="isAuthenticated()" sec:authentication="name">username@test.ru</a>
                <a class="text-body" href="/logout" sec:authorize="isAuthenticated()">Выйти</a>
                <a class="btn btn-light action-button" href="/sign_up" role="button" sec:authorize="hasRole('ROLE_ANONYMOUS')">Регистрация</a>
            </p>
        </div>
    </div>

</header>