<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sport Now</title>
    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <header th:insert="header.html :: header"> </header>

    <div class="alert alert-success alert-dismissible" id="alert">
        <strong id="alert_text">Регистрация успешно оплачена.</strong>
    </div>

    <!-- Sidebar -->
    <div class="form-row">
        <nav id="sidebar" class="card">
            <div class="sidebar-header"></div>
            <ul class="nav flex-column">
                <h4>Профиль</h4>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="getRegistrations()">Мои регистрации</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" onclick="getOrders()">Мои заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="getUserData()">Редактировать данные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout">Выход</a>
                </li>
            </ul>
        </nav>
        <div class="col-md-8 container" id="container"></div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/profile.js}"></script>
</body>
</html>