<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="event">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <a href="/events/swimcup-sprint-tyr-2">
                        <img width="100%" src="/uploads/event/logo/1308/preview_a73bbfde-5af5-49b1-abd9-8849fdc606cd.jpg" alt="Preview a73bbfde 5af5 49b1 abd9 8849fdc606cd">
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="info">
                    <span class="when"><strong>16 февраля 2020</strong></span>
                    <span class="dot">•</span><span class="where">Москва</span>
                    <span class="dot">•</span><span class="where">Плавание</span>
                </div>
                <div class="name">
                    <a href="/events/swimcup-sprint-tyr-2">
                        <span>Swimcup Sprint | TYR 2 этап </span>
                    </a>
                </div>
                <div>
                    <ul class="races">
                        <li>
                            <div class="row">
                                <div class="col-md-8"><a href="/events/swimcup-sprint-tyr-2/registration?race_id=4055">50 метров вольный стиль</a></div>
                                <div class="col-md-4 text-right"><a href="/events/swimcup-sprint-tyr-2/registration?race_id=4055" class="btn btn-danger btn-sm">Регистрация</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="c"><a href="/events/swimcup-sprint-tyr-2/registration?race_id=4056">50 метров на спине</a></div><div class="col-md-4 text-right"><a href="/events/swimcup-sprint-tyr-2/registration?race_id=4056" class="btn btn-danger btn-sm">Регистрация</a></div></div>
                        </li>
                        <li>
                            <div class="row"><div class="col-md-8"><a href="/events/swimcup-sprint-tyr-2/registration?race_id=4057">50 метров брасс</a></div><div class="col-md-4 text-right"><a href="/events/swimcup-sprint-tyr-2/registration?race_id=4057" class="btn btn-danger btn-sm">Регистрация</a></div></div>
                        </li>
                        <li><span class="counter-badge ml-2"><span class="counter">и еще 1</span>&nbsp;<div class="fa fa-chevron-down"></div><!----></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>